@model IEnumerable<WorkoutApp.ViewModels.WorkoutVM>

<h4>@Html.ActionLink("Create New Workout", "Create", "Workout")</h4>

@foreach (var w in Model)
{
<div>
    <h2 style="display: inline-block">@Html.ActionLink(w.Workout.WorkoutName, "StartSet", "Workout", new { workoutId = w.Workout.WorkoutId, workoutSetId = 0, lastSet = false, currentExerciseId = 0 })</h2>

    <span>@Html.ActionLink("Edit", "EditWorkout", "Workout", new { id = w.Workout.WorkoutId })</span>
    <span style="padding-left: 15px">@Html.ActionLink("History", "ViewHistory", "Workout", new { workoutId = w.Workout.WorkoutId })</span>
</div>



    <ul>
        @foreach (var exercise in w.ExerciseDisplay)
        {
            <li>@exercise</li>
        }
    </ul>

    <div style="margin-bottom: 15px"></div>
}


